<%- include("../partials/header") %>

<form action="/team" method="post">
    <input type="text" placeholder="team name" name="name">
    <input type="submit">
</form>

<%- include("../partials/footer") %>