.dp-extend {
    width: 100%;
}

.dp-brand-header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

.dp-form-container {
    padding-top: 100px;
    padding-bottom: 190px;
}

.dp-bd-top {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 0;
    width: 100%;
}

.dp-bd-text {
    z-index: 1;
    text-align: center;
}

.dp-icon-link:hover {
    color: black;
}

.dp-icon-link {
    color: black;
}

.dp-float-right {
    float: right;
}

.dp-icon {
    font-size: 25px;
    margin-left: 2%;
    margin-right: 10%;
}

body {
    margin: 8px;
}